# Ignore Folders
data/
old_out/
work/
workdir/

# Ignore hidden files but not gitignore
.*
!.gitignore

# Specific patterns to be extra clear:
.nextflow.log*
.nextflow/
*.swp
*.csv.swp
out.log
dag.png

/logs
/singlecash
/debug_outputs
/outputs