
workDir = '/data/cephfs-1/work/groups/kircher/users/alhassa_m/run_nf/workdir/'


params {
    config_profile_description     = 'Custom Config'
    config_profile_contact         = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url             = 'N/A'
    pipelines_data_base_path       = '/data/cephfs-1/home/users/alhassa_m/work/run_nf/rare/data/grch38/'
    fasta                          = params.pipelines_data_base_path + 'hg38.fa'
    intervals_y                    = params.pipelines_data_base_path + 'chrY_grch38.interval_list'
    intervals_wgs                  = params.pipelines_data_base_path + 'chr1-chr22chrXchrYchrM_grch38.interval_list'
    skip_germlinecnvcaller         = true
    skip_peddy                     = true
    skip_haplogrep3                = true
    skip_vep_filter                = true
}

params {
    max_memory = 760.GB
    max_cpus   = 48
    max_time   = 72.h
}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '/data/cephfs-1/scratch/groups/kircher/users/alhassa_m/'
}

singularity {
    enabled = true
    cacheDir
= '/data/cephfs-1/work/groups/kircher/users/alhassa_m/run_nf/workdir/singularity/'
}
