
workDir = '/data/cephfs-1/work/groups/kircher/users/alhassa_m/run_nf/rare/workdir'


params {
    config_profile_description     = 'Custom Config'
    config_profile_contact         = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url             = 'N/A'
    pipelines_testdata_base_path   = '/data/cephfs-1/home/users/alhassa_m/work/run_nf/rare/data/grch38/'
    fasta                          = params.pipelines_testdata_base_path + '/problamatic/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna' 
    fai                            = params.pipelines_testdata_base_path + '/problamatic/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai'
    mito_name                      = 'chrM'
    intervals_y                    = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list'
    intervals_wgs                  = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.interval_list'
    variant_catalog                = params.pipelines_testdata_base_path + 'variant_catalog_grch38.json'
    skip_tools                    = 'fastp,gens,haplogrep3,peddy,germlinecnvcaller,qualimap,eklipse,ngsbits,smncopynumbercaller'
    skip_subworkflows              = 'me_calling,me_annotation,mt_annotation,mt_subsample,repeat_annotation,generate_clinical_set,repeat_calling,snv_annotation,sv_annotation'
}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '/data/cephfs-1/scratch/groups/kircher/users/alhassa_m/'

    withName: 'ENSEMBLVEP.*' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://depot.galaxyproject.org/singularity/ensembl-vep:110.0--pl5321h2a3209d_0' :
        'biocontainers/ensembl-vep:110.0--pl5321h2a3209d_0' }
    }
}


process {
  withName: 'BWAMEM2_INDEX_GENOME' {
    memory = '256 GB'
    cpus = 16
  }
}


process {
  withName: 'CNVNATOR_RD' {
  memory = '64 GB'
  cpus = 16
  }
}


env {
    MPLCONFIGDIR="."
}

singularity {
    enabled = true
    cacheDir = '/data/cephfs-1/home/users/alhassa_m/scratch/data_out_nf/singlecash'
}
