
workDir = '/data/cephfs-1/home/users/alhassa_m/scratch/data_out_nf/workdir'


params {
    config_profile_description = 'Custom Config'
    config_profile_contact     = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url         = 'N/A'
}

params {
    max_memory = 760.GB
    max_cpus   = 48
    max_time   = 72.h
}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '/data/cephfs-1/scratch/groups/kircher/users/alhassa_m/'
}

singularity {
    enabled     = true
    cacheDir    = '/data/cephfs-1/home/users/alhassa_m/scratch/data_out_nf/singlecash'
}
