/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/raredisease -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/



workDir = '/data/cephfs-1/home/users/alhassa_m/scratch/data_out_nf/workdir'

params {
    config_profile_description = 'Custom Config'
    config_profile_contact     = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url         = 'N/A'
}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '/data/cephfs-1/scratch/groups/kircher/users/alhassa_m/'
}

singularity {
    enabled = true
    cacheDir = '/data/cephfs-1/home/users/alhassa_m/scratch/data_out_nf/workdir/singularity/'
}


params {
    config_profile_name           = 'Ali Hassan profile'
    config_profile_description    = 'Profile to run the samples'
    pipelines_testdata_base_path  = '/data/cephfs-1/home/users/alhassa_m/work/run_nf/rare/data/'   
 
    // reference params
    igenomes_ignore = true
    mito_name       = 'MT'

    // Genome references
    intervals_y                     = params.pipelines_testdata_base_path + 'reference/targetY.interval_list'
    intervals_wgs                   = params.pipelines_testdata_base_path + 'reference/target_wgs.interval_list'
    fasta                           = params.pipelines_testdata_base_path + 'reference/reference.fasta'
    genome                          = 'GRCh37'
    variant_catalog                 = params.pipelines_testdata_base_path + 'reference/variant_catalog.json'
    mobile_element_svdb_annotations = params.pipelines_testdata_base_path + 'reference/svdb_querydb_files.csv'
    mobile_element_references       = params.pipelines_testdata_base_path+  'reference/mobile_element_references.tsv'
    score_config_mt                 = params.pipelines_testdata_base_path + 'reference/rank_model_snv.ini'
    variant_consequences_snv        = params.pipelines_testdata_base_path + 'reference/variant_consequences_v2.txt'
    score_config_sv                 = params.pipelines_testdata_base_path + 'reference/rank_model_sv.ini'
    variant_consequences_sv         = params.pipelines_testdata_base_path + 'reference/variant_consequences_v2.txt'
    score_config_snv                = params.pipelines_testdata_base_path + 'reference/rank_model_snv.ini'
    gnomad_af                       = params.pipelines_testdata_base_path + 'reference/gnomad_reformated.tab.gz'
    vcfanno_toml                    = params.pipelines_testdata_base_path + 'reference/vcfanno_config.toml'
    vcfanno_resources               = params.pipelines_testdata_base_path + 'reference/vcfanno_resources.txt'
    vep_cache                       = params.pipelines_testdata_base_path + 'reference/vep_cache_and_plugins.tar.gz'
    vep_filters                     = params.pipelines_testdata_base_path + 'reference/hgnc.txt'
    svdb_query_dbs                  = params.pipelines_testdata_base_path + 'reference/svdb_querydb_files.csv'
/*    fai                             = params.pipelines_testdata_base_path + 'reference/reference.fasta.fai'
    known_dbsnp                     = params.pipelines_testdata_base_path + 'reference/dbsnp_-138-.vcf.gz'
    ml_model                        = 'https://s3.amazonaws.com/sentieon-release/other/SentieonDNAscopeModel1.1.model'
    reduced_penetrance              = params.pipelines_testdata_base_path + 'reference/reduced_penetrance.tsv'
    target_bed                      = params.pipelines_testdata_base_path + 'reference/target.bed'
    vcfanno_lua                     = params.pipelines_testdata_base_path + 'reference/vcfanno_functions.lua'
    vep_cache_version               = 107
    vep_plugin_files                = params.pipelines_testdata_base_path + 'reference/vep_files.csv' 
*/
}
