
workDir = '/data/humangen_kircherlab/hassan/run_rare/rare-disease-pipeline/workdir'


params {
    config_profile_description = 'Omics Config'
    config_profile_contact     = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url         = 'N/A'
}


params {
    skip_tools                      = 'fastp,gens,germlinecnvcaller,haplogrep3,peddy,smncopynumbercaller,vcf2cytosure,qualimap,ngsbits,eklipse'
    skip_subworkflows               = 'me_calling,me_annotation,mt_annotation,mt_subsample,repeat_annotation,repeat_calling,snv_annotation,snv_calling,sv_annotation,sv_calling,generate_clinical_set'
    pipelines_testdata_base_path    = '/data/humangen_kircherlab/hassan/run_rare/rare-disease-pipeline/data/grch38/'
    fasta                           = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
    fai                             = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai'
    mito_name                      = 'chrM'
    intervals_y                     = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set_y.intervals'
    intervals_wgs                   = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set_wgs.intervals'

}


process {
  withName: 'BWAMEM2_INDEX_GENOME' {
    memory = '256 GB'
    cpus = 16
  }
}


process {
  withName: 'CNVNATOR_RD' {
  memory = '64 GB'
  cpus = 16
  }
}


process {
  withName: 'MARKDUPLICATES' {
  memory = '256 GB'
  cpus = 32
  time = 32.h
  }
}



process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '$SCRATCH'
}

singularity {
    enabled     = true
    queue       = 'shortterm'
    cacheDir    = '/data/humangen_kircherlab/hassan/run_rare/rare-disease-pipeline/workdir/singlecash'
}



