params {
    skip_tools                      = 'fastp,gens,germlinecnvcaller,haplogrep3,peddy,smncopynumbercaller,vcf2cytosure,qualimap,ngsbits,eklipse'
    skip_subworkflows               = 'me_calling,me_annotation,mt_annotation,mt_subsample,repeat_annotation,repeat_calling,snv_annotation,snv_calling,sv_annotation,sv_calling,generate_clinical_set'
    pipelines_testdata_base_path    = '/data/humangen_kircherlab/Users/hassan/run_rare/rare-disease-pipeline/data/grch38/'
    fasta                           = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
    fai                             = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai'
    mito_name                      = 'chrM'
    intervals_y                     = params.pipelines_testdata_base_path + 'GCA_000001405_chrY.interval_list'
    intervals_wgs                   = params.pipelines_testdata_base_path + 'GCA_000001405_wgs.interval_list'

}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '$SCRATCH'

    withName: 'ENSEMBLVEP.*' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://depot.galaxyproject.org/singularity/ensembl-vep:110.0--pl5321h2a3209d_0' :
        'biocontainers/ensembl-vep:110.0--pl5321h2a3209d_0' }
    }
}


process {
  withName: 'BWAMEM2_INDEX_GENOME' {
    memory = '256 GB'
    cpus = 16
  }
}


process {
  withName: 'RETROSEQ_CALL' {
  memory = '64 GB'
  cpus = 8
  }
}

process {
  withName: 'CNVNATOR_RD' {
  memory = '64 GB'
  cpus = 16
  }
}


process {
withName: 'ANNOTATE_MT_SNVS:VCFANNO_MT' {
    memory = '24 GB'   
    cpus   = 4          
    time   = '2h'        
  }
}


process {
  withName: 'CALL_SV_MANTA:MANTA' {
    memory = '72 GB'
    cpus   = 16
    time   = '24h'
  }
}


process {
  withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ANNOTATE_GENOME_SNVS:BCFTOOLS_VIEW'
{
    ext.args = '--exclude "INFO/GNOMADAF[0] > 0.70"'
  }
}


env {
    MPLCONFIGDIR="."
}

singularity {
    enabled = true
    queue       = 'shortterm'
    cacheDir    = "./singlecash"
}


process {
    withName: 'TIDDIT_SV' {
        memory = '256 GB'  // or higher depending on your data
        cpus   = 32
        time   = '24h'
    }
}


process {
    withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ALIGN:ALIGN_BWA_BWAMEM2_BWAMEME:MARKDUPLICATES' {
        time = '48.h'
        memory = '128.GB'  // You may also want to increase memory
        cpus = 16          // Adjust as needed
    }
}

workDir = "./workdir"
