workDir = '/scratch/1787244/workdir'


params {
    config_profile_description     = 'Custom Config'
    config_profile_contact         = 'Ali Hassan (Institut fuer Humangenetik)'
    config_profile_url             = 'N/A'
    pipelines_testdata_base_path   = '/data/humangen_kircherlab/Users/hassan/run_rare/rare-disease-pipeline/data/grch38'
    fasta                          = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna' 
    fai                            = params.pipelines_testdata_base_path + 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai'
    mito_name                      = 'chrM'
    genome                         = 'GRCh38'
    intervals_y                    = params.pipelines_testdata_base_path + 'GCA_000001405_chrY.interval_list'
    intervals_wgs                  = params.pipelines_testdata_base_path + 'GCA_000001405_wgs.interval_list'
    variant_catalog                = params.pipelines_testdata_base_path + 'variant_catalog_grch38.json'
    skip_tools                     = 'gens,peddy,germlinecnvcaller,eklipse'
    variant_consequences_sv        = params.pipelines_testdata_base_path + 'variant_consequences_v2.txt'
    variant_consequences_snv       = params.pipelines_testdata_base_path + 'variant_consequences_v2.txt'
    svdb_query_dbs                 = params.pipelines_testdata_base_path + 'svdb_querydb_files.csv'
    vep_cache                      = params.pipelines_testdata_base_path + 'homo_sapiens_vep_114_GRCh38.tar.gz'    
    vep_cache_version              = 114
    vep_filters                    = params.pipelines_testdata_base_path + 'hgnc.txt'
    score_config_snv               = params.pipelines_testdata_base_path + 'rank_model_snv.ini'
    score_config_sv                = params.pipelines_testdata_base_path + 'rank_model_sv.ini'  
    score_config_mt                = params.pipelines_testdata_base_path + 'rank_model_snv.ini'    
    vcfanno_resources              = params.pipelines_testdata_base_path + 'vcfanno_resources.txt'    
    vcfanno_toml                   = params.pipelines_testdata_base_path + '/vcfanno/vcfanno_config_grch38.toml'
    gnomad_af                      = params.pipelines_testdata_base_path + '/vcfanno/gnomad/gnomad_reformated/gnomad_all.tab.gz'
    skip_subworkflows              = 'repeat_calling,repeat_annotation'
    mobile_element_references      = params.pipelines_testdata_base_path  +'/moba/mobile_element_references.tsv'
    mobile_element_svdb_annotations= params.pipelines_testdata_base_path  + 'svdb_querydb_files.csv'
}

process {
    resourceLimits = [
        memory: 760.GB,
        cpus: 48,
        time: 72.h
    ]
    executor = 'slurm'
    scratch  = '/data/cephfs-1/scratch/groups/kircher/users/alhassa_m/'

    withName: 'ENSEMBLVEP.*' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://depot.galaxyproject.org/singularity/ensembl-vep:110.0--pl5321h2a3209d_0' :
        'biocontainers/ensembl-vep:110.0--pl5321h2a3209d_0' }
    }
}


process {
  withName: 'BWAMEM2_INDEX_GENOME' {
    memory = '256 GB'
    cpus = 16
  }
}


process {
  withName: 'RETROSEQ_CALL' {
  memory = '64 GB'
  cpus = 8
  }
}

process {
  withName: 'CNVNATOR_RD' {
  memory = '64 GB'
  cpus = 16
  }
}


process {
withName: 'ANNOTATE_MT_SNVS:VCFANNO_MT' {
    memory = '24 GB'   
    cpus   = 4          
    time   = '2h'        
  }
}


process {
  withName: 'CALL_SV_MANTA:MANTA' {
    memory = '72 GB'
    cpus   = 16
    time   = '24h'
  }
}


process {
  withName: 'NFCORE_RAREDISEASE:RAREDISEASE:ANNOTATE_GENOME_SNVS:BCFTOOLS_VIEW'
{
    ext.args = '--exclude "INFO/GNOMADAF[0] > 0.70"'
  }
}


env {
    MPLCONFIGDIR="."
}

singularity {
    enabled = true
    queue       = 'shortterm'
    cacheDir    = '/scratch/1787244/workdir/singlecash'
}
